<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079470051825-garmsue2ruq0r4d0h8r7qqetf07rirbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079470051825-garmsue2ruq0r4d0h8r7qqetf07rirbu</string>
	<key>API_KEY</key>
	<string>AIzaSyAG7Ytfcl5eSuN1CKbQBA74d42V2OwFvv4</string>
	<key>GCM_SENDER_ID</key>
	<string>1079470051825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikita.rdDeploy</string>
	<key>PROJECT_ID</key>
	<string>cicle-test</string>
	<key>STORAGE_BUCKET</key>
	<string>cicle-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079470051825:ios:9e22ac3e4ba5858fc8b450</string>
	<key>DATABASE_URL</key>
	<string>https://cicle-test.firebaseio.com</string>
</dict>
</plist>